<launch>
    <arg name="wpt_path1" default="$(find Morai_Woowa)/path/test_path.csv" />
    <arg name="wpt_path2" default="$(find Morai_Woowa)/path/test_path.csv" />
    <arg name="wpt_path3" default="$(find Morai_Woowa)/path/test_path.csv" />

    <node name="location.py" pkg="Morai_Woowa" type="location.py" output="screen">
    </node>

    <node name="state_node" pkg="Morai_Woowa" type="state_node" output="screen">
       <param name="/waypoint_file1" value="$(arg wpt_path1)"/>
       <param name="/waypoint_file2" value="$(arg wpt_path2)"/>
       <param name="/waypoint_file3" value="$(arg wpt_path3)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find Morai_Woowa)/rviz/visual.rviz" output="screen"/>

</launch>
