<launch>
    <!-- dynamic_obstacle 노드 실행 -->
    <!-- <node pkg="baemin" type="dynamic_obstacle" name="dynamic_obstacle" output="screen"/> -->
    <node pkg="morai_Woowa" type="dwa" name="dwa" output="screen"/>
    <node pkg="morai_Woowa" type="lidar_db" name="lidar_db" output="screen"/>
    <node pkg="morai_Woowa" type="obstacle_tracking" name="obstacle_tracking" output="screen"/>

    <!-- rviz 실행 -->
    <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find morai_woowa)/rviz/dynamic_obstacle.rviz" output="screen"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz2" args="-d $(find baemin)/rviz/dwa.rviz" output="screen"/> -->
</launch>
